{% extends 'recommender_system_django_app/parent_page.html' %}
{% block page %}

<body style="background-color: #181818;">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
    
          {%for comic in comics_list%}
    
            <div class="col-md-3" style="border: 5px solid black; border-radius: 10px; margin: auto; margin-top: 10px; margin-left: 2px;  background-color: #282828;">
    
              <a href="individualComic/{{comic.id}}"><img src="/issueImages/Images/{{comic.issueImageName}}" style="width:100%; height: 100%; padding: 10px"></a>
    
              <h3 style="font-size: 20px; text-align: center; color: white">{{comic.comicID.issueTitle}}</h3>
    
              <p style="font-style:italic; text-align: center; color: white"> By {{comic.comicID.writer}}</p>
    
              <strong><p style="text-align: center; color: white"> Price: {{comic.comicID.price}}</p></strong>
            
              <a href="individualComic/{{comic.id}}"><p style="color: white; text-align:center;">View</p></a>
    
            </div>
    
          {% endfor %}
    
        </div>
        
      </div>
</body>

{%endblock%}