{% extends 'recommender_system_django_app/parent_page.html' %}
{% block page %}

<table>
    <tr>
        <th>Comic Name</th>
        <th>Issue Title</th>
        <th>Writer</th>
        <th>Date of publication</th>
        <th>Issue Description</th>
        <th>Price</th>
    </tr>

    {%for comic in recommended_comics%}
    <tr>
        <td>{{comic.id}}</td>
        <td>{{comic.comicName}}</td>
        <td>{{comic.issueTitle}}</td>
        <td>{{comic.writer}}</td>
        <td>{{comic.dateOfPublication}}</td>
        <td>{{comic.issueDescription}}</td>
        <td>{{comic.price}}</td>

    </tr>
    {%endfor%}
</table>
{%endblock%}

