{% extends 'recommender_system_django_app/parent_page.html' %}
{% block page %}

<style>
    table, tr, th, td{
        border: 10px solid #282828;
        margin: 10px;
    }
</style>

<h3 style="color:white">Comic Recommendations</h3>

<table>
    <tr style ="color: white;">
        <th>ID</th>
        <th>Comic Name</th>
        <th>Issue Title</th>
        <th>Writer</th>
        <th>Date of publication</th>
        <th>Issue Description</th>
        <th>Price</th>
    </tr>

    {%for comic in recommended_comics%}
    <tr style = "color: white;">
        <td>{{comic.id}}</td>
        <td>{{comic.comicName}}</td>
        <td>{{comic.issueTitle}}</td>
        <td>{{comic.writer}}</td>
        <td>{{comic.dateOfPublication}}</td>
        <td>{{comic.issueDescription}}</td>
        <td>{{comic.price}}</td>

    </tr>
    {%endfor%}
</table>
{%endblock%}

